@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Gobold High';
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/Gobold/Gobold_High.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('woff2');
  }

  @font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('woff2');
  }

  .no-underline {
    text-decoration: none !important;
  }
}

:root {
  --primary: #f8d948;
  --gray-primary: #939597;
  --gray-body: #4e4b66;
  --gray-label: #6e7191;
  --dark-text: #1e2022;
  --dark-secondary: #282828;
  --blue-primary: #091133;

  --error: #ed2e7e;
  --success: #00966d;
  --gray-bg: #f7f7fc;
  --gray-placeholder: #a0a3bd;

  --primary-light: #fff2b7;

  --dark: #121314;
  --dark-body: #fcfcfc;

  --font-display: 'Gobold High';
  --font-body: 'Source Sans Pro';
}
